body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: #333;
    color: #fff;
    padding-top: 20px;
    min-height: 70px;
    border-bottom: #0779e4 3px solid;
}

header ul {
    padding: 0;
    list-style: none;
    text-align: center;
}

header ul li {
    display: inline;
    margin: 0 20px;
}

header ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
}

section#about {
    background: #f4f4f4;
}

section#resume, section#contact {
    background: #e2e2e2;
}

h1, h2 {
    color: #333;
}

a {
    color: #0779e4;
}

a:hover {
    color: #055a8c;
}
